<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="/template/main.css">
    <link rel="icon" type="image/x-icon" href="/template/favicon.ico">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <script>
        window.MathJax = {
          tex: {
            inlineMath: [ ["\\(","\\)"] ],
            displayMath: [ ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
          },
          options: {
            ignoreHtmlClass: ".*",
            processHtmlClass: "arithmatex"
          }
        };
    </script>
    <title>{{title}}</title>
</head>
    <body>
        {{component.header}}
        <article>
            <h1>{{title}}</h1>
            <h5>{{date}}</h5>
            {{backdated}}
            {{tags}}
            <hr/>
            {{content}}
        </article>
        {{component.footer}}
    </body>
</html>
